 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="section-line-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Established in 1982, Jxi2 Inc. designs and manufactures the Syncclock line of bus level timing cards, capable of meeting your time reference needs.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our products include PCIe, VME, AMC, Mini PCIe, and more. All boards have a wide variety of available options such as GPS synchronization, OCXO time bases, and additional outputs like IRIG-B.</p>
                </div>
                <div class="col-lg-4">
                    <p>Jxi2 Inc. operates out of El Paso, Texas. Syncclock cards can be purchased through our sales partner, <a href="https://brandywinecomm.com">Brandywine Communications</a>.</p>
                </div>
            </div>
        </div>
    </section>