   <!-- Navigation -->
    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#products">Products</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>