
    <!-- Products Grid Section -->
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Products</h2>
                    <hr class="section-line-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   <p>Our Syncclock line of products can be purchased through <a href="https://www.brandywinecomm.com/products/bus-level-timing-cards" target="_blank">Brandywine Communications</a> and <a href="http://timefreq.com/bustiming.html" target="_blank">Time and Frequency Solutions</a>.  A list of common options is also available <a href="https://www.brandywinecomm.com/component/content/article/3-newsflash/3-bus-level-timing-products" target="_blank">on Brandywine's website</a>.</p>
                </div>
            </div>
        </div>
    </section>