
    <!-- Products Grid Section -->
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Products</h2>
                    <hr class="section-line-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   <p>Our <a href="https://www.brandywinecomm.com/products/bus-level-timing-cards" target="_blank">Syncclock line of products</a> can be purchased through Brandywine Communications.  A list of common options is also available <a href="https://www.brandywinecomm.com/component/content/article/3-newsflash/3-bus-level-timing-products" target="_blank">on their website</a>.</p>
                </div>
            </div>
        </div>
    </section>